@charset "ISO-8859-1";


#div-compras{
	margin-top: 0px;
	margin-left: 30px;;
	width: 1000px;
}

.compras{
	position: absolute;
	font-size: 20px;
	margin-left: 15%;
    width: 69%;
   	margin-top: 35px;
    margin-bottom: 150px;
    
}

.titulo{
	font-size: 25px;
}