@charset "ISO-8859-1";

.titulo-tipo-tabela h2{
	margin-top: -25px;
	font-size: 25px;
	color: #007bff;
	margin-left: 17%;
	text-transform: uppercase;
}

.sublinhado{
	width: 1110px;
	height: 3px;
	background-color:#007bff;
	margin-left: 17%;
	margin-bottom: 30px;
}

.panel-resultado-pesquisa{
	margin-bottom: 150px;
}