@charset "ISO-8859-1";

#alert{
	font-size: 20px; 
	margin-left: 38.5%; 
	margin-top: 20px;
	width: 23%;	
}
/* Form */
.form {
    position: relative;
    z-index: 0;
    border-width: medium;
    border-style: solid;
    border-color: #f2f2f2;
    background: #f2f2f2 ;
    max-width: 375px;
    margin: 0 auto 100px;
    padding: 30px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    text-align: center;
  }
  .form .thumbnail {
    background: #36C90F;
    width: 150px;
    height: 150px;
    margin: 0  auto 30px;
    padding: 50px 30px;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .form .thumbnail img {
    display: block;
    margin-top: -20px;
    margin-left: 0px;
    width: 100%;
  }
  .form input {
    outline: 0;
    background: #FFFFFF;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
  }
  .form button {
    outline: 0;
    background: #36C90F;
    width: 100%;
    border: 0;
    padding: 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #FFFFFF;
    font-size: 16px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }
  .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 14px;
  }
  .form .message a {
    color: #36C90F;
    text-decoration: none;
  }
  /* .form .register-form {

  } */
  
  .container-login {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
  }
  .container-login:before, .container-login:after {
    content: "";
    display: block;
    clear: both;
  }
  .container-login .info {
    margin: 50px auto;
    text-align: center;
  }
  .container-login .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
  }
  .container-login .info span {
    color: #4d4d4d;
    font-size: 12px;
  }
  .container-login .info span a {
    color: #000000;
    text-decoration: none;
  }
  .container-login .info span .fa {
    color: #36C90F;
  }
  
  /* END Form */
  /* Demo Purposes */
  body  {
    background: #ccc;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
 
  
  #video {
    z-index: -99;
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }